<%= form_for @docker_host, builder: FoundationFormBuilder do |f| %>
  <%= f.text_field :name, required: true, autofocus: true,
          placeholder: 'my-docker-host', label: 'Name' %>

  <%= f.url_field :url, required: true,
          placeholder: 'tcp://192.168.10.100:2376',
          label: 'Docker URL' %>

  <%= f.text_area :ca_cert_pem,
          placeholder: '-----BEGIN CERTIFICATE-----',
          label: 'Server CA certificate (ca.pem)' %>

  <%= f.text_area :client_cert_pem,
          placeholder: '-----BEGIN CERTIFICATE-----',
          label: 'Client certificate (cert.pem)' %>

  <%= f.text_area :client_key_pem,
          placeholder: '-----BEGIN RSA PRIVATE KEY-----',
          label: 'Client private key (key.pem)' %>

  <div class="row">
    <%= button_tag type: 'submit', class: 'large success button expand' do %>
      <%= fa_icon :upload %> Save Docker Host
    <% end %>
  </div>
<% end %>
