<h2>Docker Hosts</h2>

<p>
  <%= link_to new_docker_host_path, class: 'button success' do %>
    <%= fa_icon :plus %>
    Add Docker Host
  <% end %>
</p>

<table>
  <tbody>
    <% @docker_hosts.each do |docker_host| %>
      <tr>
        <td>
          <%= link_to docker_host.name, docker_host %>
        </td>
        <td>
          <%= docker_host.url %>
        </td>
        <td>
        <% if docker_host.uses_tls? %>
          <%= fa_icon :lock, title: 'Secured with TLS' %>
        <% else %>
          <%= fa_icon :unlock, title: 'Not secured with TLS' %>
        <% end %>
        </td>
        <td>
          <%= link_to refresh_docker_host_path(docker_host),
                method: :patch do %>
            <%= fa_icon :refresh %> Refresh
          <% end %>
        </td>
        <td>
          <%= link_to edit_docker_host_path(docker_host) do %>
            <%= fa_icon :pencil %> Edit
          <% end %>
        </td>
        <td>
          <%= link_to docker_host, method: :delete,
                  data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon :trash %> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
