<p id="notice"><%= notice %></p>

<h1>Listing Docker Hosts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Url</th>
      <th>Ssl cert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docker_hosts.each do |docker_host| %>
      <tr>
        <td><%= docker_host.user %></td>
        <td><%= docker_host.url %></td>
        <td><%= docker_host.ssl_cert %></td>
        <td><%= link_to 'Show', docker_host %></td>
        <td><%= link_to 'Edit', edit_docker_host_path(docker_host) %></td>
        <td><%= link_to 'Destroy', docker_host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docker host', new_docker_host_path %>
