<h2>Docker Host <%= @docker_host.name %></h2>

<p>
  <%= fa_icon :link, title: 'Docker URL' %>
  <%= @docker_host.url %>
</p>

<% if @docker_host.version_info %>
<ul>
  <li>
    OS: <%= @docker_host.version_info.os %>
  </li>
  <li>
    OS Label: <%= @docker_host.version_info.os_label %>
  </li>
  <li>
    Arch: <%= @docker_host.version_info.arch %>
  </li>
  <li>
    Kernel: <%= @docker_host.version_info.kernel %>
  </li>
  <li>
    Docker version: <%= @docker_host.version_info.docker %>
  </li>
  <li>
    API version: <%= @docker_host.version_info.api %>
  </li>
  <li>
    Debug mode: <%= @docker_host.version_info.debug_mode? %>
  </li>
  <li>
    Can limit memory: <%= @docker_host.version_info.can_limit_memory? %>
  </li>
  <li>
    Can limit swap: <%= @docker_host.version_info.can_limit_memory? %>
  </li>
  <li>
    Can forward IPv4: <%= @docker_host.version_info.can_forward_ipv4? %>
  </li>
</ul>
<% end %>
